{{ '#' }} {{ ansible_managed }}

{% for param in pdns_recursor_configure_config|sort %}
{% if pdns_recursor_configure_config[param] is defined %}
{% if pdns_recursor_configure_config[param] is string %}
{{ param }}={{ pdns_recursor_configure_config[param]|lower }}
{% elif pdns_recursor_configure_config[param] is number %}
{{ param }}={{ pdns_recursor_configure_config[param]|lower }}
{% elif pdns_recursor_configure_config[param] is iterable %}
{{ param }}={{ pdns_recursor_configure_config[param]|sort|join(',') }}
{% endif %}
{% else %}
#{{ param }}
{% endif %}
{% endfor %}
