{{ '#' }} {{ ansible_managed }}

{% for config_option in pdns_recursor_config_opts|sort %}
{% if pdns_recursor_config_opts[config_option] is defined %}
{% if pdns_recursor_config_opts[config_option] is string %}
{{ config_option }}={{ pdns_recursor_config_opts[config_option]|lower }}
{% elif pdns_recursor_config_opts[config_option] is number %}
{{ config_option }}={{ pdns_recursor_config_opts[config_option]|lower }}
{% elif pdns_recursor_config_opts[config_option] is iterable %}
{{ config_option }}={{ pdns_recursor_config_opts[config_option]|sort|join(',') }}
{% endif %}
{% else %}
#{{ config_option }}
{% endif %}
{% endfor %}
